<h1>Sign Up Here<h1>

  <form action='/users' method='post'>
    Email: <input name= 'email' type='text' value='<%= @user.email %>'></br>
    Password: <input name='password' type='password'></br>
    Password Confirmation: <input name='password_confirmation' type= 'password'>
          <input type='submit' value='Sign up'>

  </form>
